#aboutphoto {
	float: right;
}

body {
	background-image: url('./Images/background.jpg');
	color: white;

}

#top {
	background-image: url('./Images/bannertemp.jpg');
}

.container .jumbotron, .list-group {
	margin-bottom: 0;

}

.container .jumbotron {
	background-image: url("./Images/bannertemp.jpg");
	background-size: cover;
	border-bottom-left-radius: 0em;
	border-bottom-right-radius: 0em;
}

.container .navbar, .container .row, .container h1, p, .thumbnailCaption{
	margin: 0;

}

.container .navbar {
	border-radius: 0;
	border-width: 0;
}

.container .content h1 {
	font-size: 28px;
	background-color: #e54732;
	padding: 10px;
}

.container .content p {
	width: 100%;
	background-color:#f2f2f2;
	font-size: 18px;
	float: left;
}

.icon {
    width: 120px;
	vertical-align: top;
    display: inline-block;
}


p {
	padding: 15px;
}

.list-group, .container .content p {
	background-color:#f2f2f2;
} 


#contact li {
	float: left;
}

#contact li, .games {
	vertical-align: top;
    display: inline-block;
}

#contact li, .games, #projects, #calendar, .icon, .icon:after, .list-group{
	text-align: center;
}

.container .content p, #contact li {
	color: #3a3b3d;
}

.caption, ul.list-group:after {
	display: block;
}

ul.list-group:after {
  clear: both;
  content: "";
}

#calendar li, #contact li {
	list-style: none;
}


.calendarDate{
	color: #15c4be;
}

.games {
	margin-top: 10px;
	width: 250px;
	height: 350px;
}

.thumbnailImage{
	width: 200px;
	height: 200px;
}

.thumbnailCaption {
	padding: 0;
}